// Path
$hobbit-font-path: "../fonts/";

// Colors
$white: white;
$black: black;
$main: #10152f;
$blue:#25527f;
$lightBlue: #54DEFD;
$yellow: #d1be37;
$pink: #780d20;
$button: #387988;

//colors for switch
$firstColor: #444c59;
$secondColor: #3f4413;
$thirdColor: #87bed7d4;
$fourthColor: #0e2d2a;
$fifthColor: #362111;




//Fonts
$google-font: 'https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=Norican&display=swap';
@if variable_exists(google-font) {
    @import url($google-font);
  }

$mainFont: 'Lora', serif;
$baseFontSize: 14px;

$curlyFont: 'Norican', cursive;

@font-face {
  font-family: 'Hobbiton Brushhand';
  src: url($hobbit-font-path + "HobbitonBrushhandhobbitonBrush-WygA.ttf") format('truetype');
  font-display: swap;
}
