@media all and (min-width: 992px) {
    .wrapper {
        max-width: 950px;
        margin: 0 auto;
    }
    
    .header {
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 30px;
        @include e(heading) {
            max-width: 100%;
            flex-grow: 1;
        }
    }
    img {
        // max-width: 300px;
        max-height: 300px;
        object-fit: cover;
        width: 300px;
    }
}

