@media all and (min-width: 768px) {
    .wrapper {
        max-width: 700px;
        margin: 0 auto;
    }
    
    .header {
        flex-direction: row-reverse;
        align-items: center;
        @include e(heading) {
            max-width: 300px;
        }
    }
    img {
        // max-width: 300px;
        max-width: 300px;
        object-fit: cover;
    }
}

