.biography {
    margin-bottom: 30px;

    @include e(heading) {
        font-size: 2.5rem;
        color: $blue;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    p {
        font-size: 1.1rem;
        line-height: 1.7;
        color: $main;
        margin-bottom: 20px;
        padding: 8px;
    }
}