.wrapper {
    max-width: 300px;
    margin: 0 auto;
}


.header {
    display: flex;
    justify-content: space-around;
    padding: 10px;

    @include e(heading) {
        font-size: 3rem;
        font-weight: 800;
        font-family: 'Hobbiton Brushhand';
        color: $main;
    }
}

